<!-- event -->
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">      
  <header class="section__play-btn mdl-cell mdl-cell--4-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
    <!--<img src="{{imageUrl}}">-->
  </header>

  <div class="mdl-card mdl-cell mdl-cell--8-col-desktop mdl-cell--5-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>{{name}}</h4>
      <small class="md-card__supporting-text-subtitle">
        {{city}}, {{country}} - {{shortDate}}
      </small>
      {{description}} 
    </div>
    <div class="mdl-card__actions">
      <a href="#" class="mdl-button">Learn more</a>
    </div>
  </div>
</section>